<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <scheduling>
      <!-- Will archive once a day all item versions over the MaxVersions count for items under the Root path -->
      <agent type="Examples.ArchiveVersionsAgent.Tasks.ArchiveVersionsAgentTask, Examples" method="Run" interval="01:00:00">
        <Root>/sitecore/content/Home/Example</Root>
        <MaxVersions>10</MaxVersions>
      </agent>
    </scheduling>
  </sitecore>
</configuration>