@using Sitecore.Mvc.Analytics.Extensions

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wildcard Example</title>
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    <header>
        @Html.Sitecore().Placeholder("header")
    </header>
    <main>
        @Html.Sitecore().Placeholder("main")
    </main>
    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>
</body>
</html>
