<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="WriterThreads" value="12" />
    <add key="MaxQueueSize" value="1000" />
    <!-- Read -->
    <add key="read.Timeout" value="3600" />
    <add key="read.BatchSize" value="100" />
    <add key="read.ContactFacets" value="Addresses,EmailAddressHistory,Emails,EmailsSent,LastVisitedSite,Personal,TestCombinations,UserData" />
    <add key="read.InteractionFacets" value="IpInfo,WebVisit,ProfileScores" />
    <!-- Write -->
    <add key="write.Timeout" value="3600" />
    <add key="write.SqlTimeout" value="3600" />
    <add key="write.BatchSize" value="100" />
    <add key="write.ContactFacets" value="Addresses,EmailAddressHistory,Emails,EmailsSent,LastVisitedSite,Personal,TestCombinations,UserData" />
    <add key="write.InteractionFacets" value="IpInfo,WebVisit,ProfileScores" />
    <add key="write.IdentifierSource" value="Alias" />
  </appSettings>
  <connectionStrings>
    <!-- Read -->
    <add name="read.xconnect.collection" connectionString="https://read.xconnect"/>
    <add name="read.xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue="/>
    <add name="read.xconnect.search" connectionString="https://read.xconnect-search"/>
    <add name="read.xconnect.search.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue="/>
    <!-- Write -->
    <add name="write.xconnect.collection" connectionString="https://write.xconnect"/>
    <add name="write.xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue="/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async.Providers" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>