<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="6.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Xml" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyModel" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions" version="6.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Polly" version="7.2.3" targetFramework="net48" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net48" />
  <package id="Serilog" version="2.11.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net48" />
  <package id="Sitecore.Async.Extensions.Legacy" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.ContentTesting.Model.xConnect" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Model" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Conditions" version="5.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Configuration" version="6.0.1" targetFramework="net48" />
  <package id="Sitecore.Framework.Configuration.Abstractions" version="6.0.1" targetFramework="net48" />
  <package id="Sitecore.Framework.Configuration.Common" version="6.0.1" targetFramework="net48" />
  <package id="Sitecore.Framework.Configuration.Extensions" version="6.0.1" targetFramework="net48" />
  <package id="Sitecore.XConnect" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Client" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Collection.Model" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Core" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Diagnostics" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Search" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Service" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Service.Plugins" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Collection" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Common.Web" version="10.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net48" />
  <package id="System.Interactive.Async" version="6.0.1" targetFramework="net48" />
  <package id="System.Interactive.Async.Providers" version="6.0.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq.Async" version="6.0.1" targetFramework="net48" />
  <package id="System.Linq.Async.Queryable" version="6.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>