<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <pipelines>
      <renderField>
        <processor type="Examples.ContentEditorCulture.Pipelines.RenderField.GetDateFieldValue, Examples" patch:instead="*[@type='Sitecore.Pipelines.RenderField.GetDateFieldValue, Sitecore.Kernel']"/>
      </renderField>
    </pipelines>
    <commands>
      <command name="webedit:editdate" type="Examples.ContentEditorCulture.Shell.Applications.WebEdit.Commands.EditDate, Examples" patch:instead="*[@type='Sitecore.Shell.Applications.WebEdit.Commands.EditDate, Sitecore.ExperienceEditor']"/>
    </commands>
    <controlSources>
      <source mode="on" namespace="Examples.ContentEditorCulture.Fields" assembly="Examples" prefix="culture" />
    </controlSources>
  </sitecore>
</configuration>