<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net48" />
  <package id="Sitecore.Assemblies.Platform" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Buckets" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Client" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Linq" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Mvc" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Mvc.Analytics" version="10.2.0" targetFramework="net48" />
</packages>