<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch">
    <pipelines>
      <SendEmail>
        <processor type="Examples.EXM.Pipelines.SendEmail.AddAttachment, Examples.EXM" 
                   resolve="true"
                   patch:after="*[@type='Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.FillEmail, Sitecore.EmailCampaign.Cm']">
          <attachTo hint="list:AddMessageToAttachTo">
            <MyMessage>{EDEB0D01-9A2D-40C5-85E2-505C76E9F722}</MyMessage>
          </attachTo>
        </processor>
        <processor type="Examples.EXM.Pipelines.SendEmail.ModifySenderHeader, Examples.EXM"
                   patch:after="*[@type='Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.FillEmail, Sitecore.EmailCampaign.Cm']"/>
      </SendEmail>
      <group groupName="exm">
        <pipelines>
          <getContact>
            <processor type="Examples.EXM.Pipelines.GetContact.GetExtendedContact, Examples.EXM"
                       resolve="true"
                       patch:instead="processor[@type='Sitecore.Modules.EmailCampaign.Core.Pipelines.GetContact.GetContact, Sitecore.EmailCampaign']"/>
          </getContact>
        </pipelines>
      </group>
      <mvc.renderRendering>
        <processor type="Examples.EXM.Pipelines.RenderRendering.ExmTableRewriter, Examples.EXM"/>
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>
